.btn{
    color: black !important;
    border: 1px solid rgb(0, 0, 0) !important;

}

.btn:hover{
    background-color: rgb(97, 172, 233) !important;
    border: 1px solid rgb(97, 172, 233) !important;
    color: white !important;
}

.contener {
    width: 100%;
    height: 100vh;
    background-color: rgba(63, 210, 255, 0.5);
    background-repeat: no-repeat;
    background-image: url(../img/waqar-khalid-xHrkWhLVM8E-unsplash.jpg);
    background-size: 100% 100%;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.content {
    width: 30%;
    position: absolute;
    top: 40%;
    left: 10%;
    text-align: center;
    color: white;
    z-index: 2;
    text-transform: capitalize;
    font-size: 15px;
}

.content h2 {
    width: 100%;
    word-spacing: 5px;
    font-size: 60px;
    text-transform: uppercase;
    margin-top: -20px;
}

.content p {
    width: 50%;
    margin-left: 350px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    font-size: 18px;
}
.content a {
    padding: 5px;
    width: 20%;
    height: 15%;
    background-color: rgb(66, 66, 66);
    border: 1px solid rgb(165, 163, 163);
    border-radius: 10px;
    font-size: 20px;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 40px;
    text-transform: capitalize;
    transition: .6s;
    text-decoration: none;
}

.content .btu-1 {
    background-color: white;
    color: black;

}

.btu-1:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.btu-2:hover {
    background-color: rgba(66, 66, 66, 0.7);
}
.card{
    display: inline-block !important;
    margin-left: 40px;
    margin-top: 100px;
}
.footer {
    width: 100%;
    height: 70vh;
    color: white;
}

.foot {
    width: 100%;
    height: 50vh;
    background-color: black;
    position: relative;
    top: 130px;
}

.icm {
    text-align: center;
}

.icm img {
    position: relative;
    left: 150px;
    top: 10px;
}

.icm p {
    margin-top: 90px;
    color: gray;
}

.qq {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    background-color: white;
    position: relative;
    right: 95px;
    top: 150px;
    color: black;
    cursor: pointer;
    font-size: 30px;
    border-radius: 50%;
    transition: .5s;
}

.qq:hover {
    background-color: black;
    color: white;
}
